.btn {
  padding: 13px 18px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  transition: transform 0.1s;
}
.btn:active {
  transform: scale(0.95);
}
.btn--primary {
  background: var(--color-primary);
  color: #fff;
}
.btn--secondary {
  background-color: #bbb;
  color: #333;
}
